<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html ng-app="phonegapTodo">
<head>
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
  https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
  * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
  * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
  * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
  * Enable inline JS: add 'unsafe-inline' to default-src
-->

<meta http-equiv="Content-Security-Policy" content="default-src 'self' ws://localhost:3000 'unsafe-inline' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

<!-- build:css css/all.css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- endbuild -->

<!-- bower:css -->
<!-- endbower -->

<title>Phonegap Todo</title>
</head>
<body ng-controller="MainController as main">
  <div class="app">
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--primary mdl-color-text--white-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Phonegap Todo</span>
        </div>
      </header>
      <div id="mainDrawer" class="mdl-layout__drawer">
        <span class="mdl-layout-title">Phonegap Todo</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" ng-class="{'mdl-navigation__link--current': main.path === '/'}" ng-click="main.closeDrawer()" ng-href="#/">To-do</a>
          <a class="mdl-navigation__link" ng-class="{'mdl-navigation__link--current': main.path === '/done'}" ng-click="main.closeDrawer()" ng-href="#/done">Finished</a>
        </nav>
      </div>
      <div class="demo-ribbon mdl-color--primary"></div>
      <main class="demo-main mdl-layout__content">
        <div ng-view onload=""></div>
        <footer class="mdl-mini-footer todo-footer">
          <div class="mdl-mini-footer__right-section">
            <div class="mdl-logo">Phonegap Todo</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
  </div>

  <script type="text/javascript" src="cordova.js"></script>
  <!-- build:js js/all.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/material-design-lite/material.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/ryanmullins-angular-hammer/angular.hammer.js"></script>
  <!-- endbower -->
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <!-- endbuild -->
</body>
</html>
